.top-header-img {
    width: 100%;
}

.about-text {
    text-align: justify;
    font-size: 1.2rem;
    color: grey;
}

.about-video {
    width: 90%;
    height: 380px;
    border-radius: 10px;
}

.call {
    /* height: 10vh; */
    /*  width: 150px; */
    margin: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.call:hover {
    transform: scale(1.1);
    border: 1px solid coral;
}