@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    font-family: 'Inter', sans-serif;
}

.top-header-img {
    width: 100%;
}

.about-text {
    text-align: justify;
    font-size: 1.2rem;
    color: grey;
}

.about-video {
    width: 90%;
    height: 380px;
    border-radius: 10px;
}

.call {
    /* height: 10vh; */
    /*  width: 150px; */
    margin: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.call:hover {
    transform: scale(1.1);
    border: 1px solid coral;
    cursor: pointer;
}

.background-bg {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #f88dd8 100%);
    padding: 50px;
    color: rgb(63, 63, 63);
}

.card-1 {
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.card-1:hover {
    background-image: linear-gradient( 135deg, #1dfe83 10%, #09c35d 100%);
    cursor: pointer;
}

.card-2 {
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
}

.card-2:hover {
    background-image: linear-gradient( 135deg, #fbaf3c 10%, #e74247 100%);
    cursor: pointer;
}

.footer {
    background: black;
    color: whitesmoke;
    padding: 50px;
}